[
  {
    "fieldname": "Amostra:",
    "fieldtype": "texto",
    "format": "%s",
    "range": "teste"
  },
  {
    "fieldname": "Liga:",
    "fieldtype": "texto",
    "format": "%s",
    "range": "liga1"
  },
  {
    "fieldname": "Si",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.2:0.3"
  },
  {
    "fieldname": "Fe",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "94.5:97.0"
  },
  {
    "fieldname": "Cu",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Mg",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Mn",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Cr",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.4:0.7"
  },
  {
    "fieldname": "Ni",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.4:0.7"
  },
  {
    "fieldname": "Zn",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Ti",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Ag",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "B",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Ba",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Be",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Bi",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Ca",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Cd",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Ga",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Co",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "In",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Li",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Mo",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Na",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Pb",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Sn",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Sr",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "V",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.01:0.02"
  },
  {
    "fieldname": "Zr",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Sb",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "As",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Hg",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "P",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "La",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Ce",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Al",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "S",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.04:0.06"
  },
  {
    "fieldname": "Bg",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Au",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "C",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.3:0.5"
  },
  {
    "fieldname": "Nb",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Se",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "Te",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.003:0.005"
  },
  {
    "fieldname": "O",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Ta",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "W",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "N",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Hf",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  }
]