[
  {
    "fieldname": "AnalysisTimestamp",
    "fieldtype": "instante",
    "format": "%1$td-%1$tm-%1$tY %1$tH:%1$tM:%1$tS",
    "range": ""
  },
  {
    "fieldname": "Nome:",
    "fieldtype": "texto",
    "format": "%s",
    "range": ""
  },
  {
    "fieldname": "Amostra:",
    "fieldtype": "texto",
    "format": "%s",
    "range": ""
  },
  {
    "fieldname": "Operador:",
    "fieldtype": "texto",
    "format": "%s",
    "range": ""
  },
  {
    "fieldname": "Obs:",
    "fieldtype": "texto",
    "format": "%s",
    "range": ""
  },
  {
    "fieldname": "Sequência:",
    "fieldtype": "texto",
    "format": "%s",
    "range": ""
  },
  {
    "fieldname": "C",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Si",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Mn",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "P",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "S",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Cr",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Mo",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Ni",
    "fieldtype": "numero",
    "format": "%4.3f",
    "range": "0.02:0.035"
  }
]