[
  {
    "csvfield": "AnalysisTimestamp",
    "realm": "cabecalho",
    "type": "instante",
    "readcsv": true,
    "resultfield": "Horario",
    "resultseq": 0,
    "writeresult": true,
    "number": 0.0
  },
  {
    "csvfield": "Nome:",
    "realm": "cabecalho",
    "type": "texto",
    "readcsv": true,
    "resultfield": "Nome",
    "resultseq": 1,
    "writeresult": true,
    "number": 0.0
  },
  {
    "csvfield": "Amostra:",
    "realm": "cabecalho",
    "type": "texto",
    "readcsv": true,
    "resultfield": "Amostra",
    "resultseq": 2,
    "writeresult": true,
    "number": 0.0
  },
  {
    "csvfield": "Operador:",
    "realm": "cabecalho",
    "type": "texto",
    "readcsv": true,
    "resultfield": "Operador",
    "resultseq": 4,
    "writeresult": true,
    "number": 0.0
  },
  {
    "csvfield": "Obs:",
    "realm": "cabecalho",
    "type": "texto",
    "readcsv": true,
    "resultfield": "Obs",
    "resultseq": 5,
    "writeresult": true,
    "number": 0.0
  },
  {
    "csvfield": "Sequência:",
    "realm": "cabecalho",
    "type": "texto",
    "readcsv": true,
    "resultfield": "Sequencia",
    "resultseq": 6,
    "writeresult": true,
    "number": 0.0
  },
  {
    "csvfield": "C",
    "realm": "valor",
    "type": "numero",
    "readcsv": true,
    "resultfield": "C",
    "resultseq": 2,
    "writeresult": true,
    "number": 0.0
  },
  {
    "csvfield": "Si",
    "realm": "valor",
    "type": "numero",
    "readcsv": true,
    "resultfield": "Si",
    "resultseq": 7,
    "writeresult": true,
    "number": 0.0
  },
  {
    "csvfield": "Mn",
    "realm": "valor",
    "type": "numero",
    "readcsv": true,
    "resultfield": "Mn",
    "resultseq": 8,
    "writeresult": true,
    "number": 0.0
  },
  {
    "csvfield": "P",
    "realm": "valor",
    "type": "numero",
    "readcsv": true,
    "resultfield": "P",
    "resultseq": 9,
    "writeresult": true,
    "number": 0.0
  },
  {
    "csvfield": "S",
    "realm": "valor",
    "type": "numero",
    "readcsv": true,
    "resultfield": "S",
    "resultseq": 5,
    "writeresult": true,
    "number": 0.0
  }
]