[
        {
          "csvfield": "AnalysisTimestamp",
          "realm": "cabecalho",
          "type": "instante",
          "readcsv": true,
          "resultfield": "Horario",
          "resultseq": 0,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Nome:",
          "realm": "cabecalho",
          "type": "texto",
          "readcsv": true,
          "resultfield": "Nome",
          "resultseq": 1,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Amostra:",
          "realm": "cabecalho",
          "type": "texto",
          "readcsv": true,
          "resultfield": "Amostra",
          "resultseq": 3,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Operador:",
          "realm": "cabecalho",
          "type": "texto",
          "readcsv": true,
          "resultfield": "Operador",
          "resultseq": 4,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Obs:",
          "realm": "cabecalho",
          "type": "texto",
          "readcsv": true,
          "resultfield": "Obs",
          "resultseq": 5,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Sequência:",
          "realm": "cabecalho",
          "type": "texto",
          "readcsv": true,
          "resultfield": "Sequencia",
          "resultseq": 6,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "C",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "C",
          "resultseq": 2,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Si",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Si",
          "resultseq": 7,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Mn",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Mn",
          "resultseq": 8,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "P",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "P",
          "resultseq": 9,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "S",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "S",
          "resultseq": 24,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Cr",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Cr",
          "resultseq": 23,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Mo",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Mo ",
          "resultseq": 22,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Ni",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Ni",
          "resultseq": 21,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Cu",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Cu",
          "resultseq": 20,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Al",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Al",
          "resultseq": 19,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "As",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "As",
          "resultseq": 18,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "B",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "B",
          "resultseq": 17,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Bi",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Bi",
          "resultseq": 16,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Ce",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Ce",
          "resultseq": 15,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Co",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Co",
          "resultseq": 14,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Mg",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Mg",
          "resultseq": 13,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Nb",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Nb",
          "resultseq": 12,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Pb",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Pb",
          "resultseq": 29,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Sb",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Sb",
          "resultseq": 28,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Sn",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Sn",
          "resultseq": 27,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Ta",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Ta",
          "resultseq": 26,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "La",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "La",
          "resultseq": 25,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Ti",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Ti",
          "resultseq": 11,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "V",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "V",
          "resultseq": 36,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "W",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "W",
          "resultseq": 35,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Zn",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Zn",
          "resultseq": 34,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Zr",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Zr",
          "resultseq": 33,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Se",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Sn",
          "resultseq": 32,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "N",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "N",
          "resultseq": 31,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Ca",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Ca",
          "resultseq": 30,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Te",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Te",
          "resultseq": 37,
          "writeresult": true,
          "number": 0.0
        },
        {
          "csvfield": "Fe",
          "realm": "valor",
          "type": "numero",
          "readcsv": true,
          "resultfield": "Fe",
          "resultseq": 10,
          "writeresult": true,
          "number": 0.0
        }
      ]