{
  "uid": 1603078363742866826,
  "created": 1528814662688,
  "title": "Interceptor Linha 4 - Nodular",
  "indextemplate": "TIMESTAMP:Nome:Amostra",
  "header_items": [
    {
      "record_item": "Horario",
      "record_source": "QS4-",
      "label": "Horario",
      "length": "280",
      "qualify_type": "NONE"
    },
    {
      "record_item": "Nome",
      "record_source": "QS4-",
      "label": "Nome",
      "length": "400",
      "qualify_type": "ACCEPT",
      "qualify_var1": "FOFO"
    },
    {
      "record_item": "Amostra",
      "record_source": "QS4-",
      "label": "Amostra",
      "length": "200",
      "qualify_type": "INDEX"
    },
    {
      "record_item": "Operador",
      "record_source": "QS4-",
      "label": "Operador",
      "length": "200",
      "qualify_type": "CONTAINS",
      "qualify_var1": "zeca"
    },
    {
      "record_item": "Sequencia",
      "record_source": "QS4-",
      "label": "Sequencia",
      "length": "200",
      "qualify_type": "NONE"
    },
    {
      "record_item": "Obs",
      "record_source": "QS4-",
      "label": "Obs",
      "length": "500",
      "qualify_type": "NONE"
    }
  ],
  "alloyfilters": {
    "alloys": [
      {
        "accept_tag": "default",
        "sendto": "BROADCAST",
        "sendtag": "INTERCEPTED",
        "items": [
          {
            "record_item": "C",
            "record_source": "QS4-",
            "label": "C",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Si",
            "record_source": "QS4-",
            "label": "Si",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Mn",
            "record_source": "QS4-",
            "label": "Mn",
            "qualify_type": "NONE"
          },
          {
            "record_item": "P",
            "record_source": "QS4-",
            "label": "P",
            "qualify_type": "NONE"
          },
          {
            "record_item": "S",
            "record_source": "QS4-",
            "label": "S",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Cr",
            "record_source": "QS4-",
            "label": "Cr",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Mo ",
            "record_source": "QS4-",
            "label": "Mo ",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Ni",
            "record_source": "QS4-",
            "label": "Ni",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Cu",
            "record_source": "QS4-",
            "label": "Cu",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Al",
            "record_source": "QS4-",
            "label": "Al",
            "qualify_type": "NONE"
          },
          {
            "record_item": "As",
            "record_source": "QS4-",
            "label": "As",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Co",
            "record_source": "QS4-",
            "label": "Co",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Mg",
            "record_source": "QS4-",
            "label": "Mg",
            "length": "250",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Nb",
            "record_source": "QS4-",
            "label": "Nb",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Pb",
            "record_source": "QS4-",
            "label": "Pb",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Sb",
            "record_source": "QS4-",
            "label": "Sb",
            "length": "250",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Sn",
            "record_source": "QS4-",
            "label": "Sn",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Ti",
            "record_source": "QS4-",
            "label": "Ti",
            "qualify_type": "NONE"
          },
          {
            "record_item": "V",
            "record_source": "QS4-",
            "label": "V",
            "qualify_type": "NONE"
          },
          {
            "record_item": "W",
            "record_source": "QS4-",
            "label": "W",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Zn",
            "record_source": "QS4-",
            "label": "Zn",
            "length": "250",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Zr",
            "record_source": "QS4-",
            "label": "Zr",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Sn",
            "record_source": "QS4-",
            "label": "Sn",
            "length": "250",
            "qualify_type": "NONE"
          },
          {
            "record_item": "N",
            "record_source": "QS4-",
            "label": "N",
            "qualify_type": "NONE"
          },
          {
            "record_item": "Fe",
            "record_source": "QS4-",
            "label": "Fe",
            "qualify_type": "NONE"
          }
        ]
      },
      {
        "accept_tag": "FOFO Nodular",
        "sendto": "BROADCAST",
        "sendtag": "INTERCEPTED",
        "items": [
          {
            "record_item": "C",
            "record_source": "QS4-",
            "label": "C",
            "qualify_type": "RANGE",
            "qualify_var1": "2.7511",
            "qualify_var2": "2.2508999999999997"
          },
          {
            "record_item": "C",
            "record_source": "CSA",
            "label": "C-(CSA)",
            "qualify_type": "RANGE",
            "qualify_var1": "2.7511",
            "qualify_var2": "2.2508999999999997"
          },
          {
            "record_item": "Si",
            "record_source": "QS4-",
            "label": "Si",
            "qualify_type": "RANGE",
            "qualify_var1": "0.5632",
            "qualify_var2": "0.4608"
          },
          {
            "record_item": "Mn",
            "record_source": "QS4-",
            "label": "Mn",
            "qualify_type": "RANGE",
            "qualify_var1": "1.0934",
            "qualify_var2": "0.8946"
          },
          {
            "record_item": "P",
            "record_source": "QS4-",
            "label": "P",
            "qualify_type": "RANGE",
            "qualify_var1": "0.0418",
            "qualify_var2": "0.0342"
          },
          {
            "record_item": "S",
            "record_source": "QS4-",
            "label": "S",
            "qualify_type": "RANGE",
            "qualify_var1": "0.0209",
            "qualify_var2": "0.0171"
          },
          {
            "record_item": "Cr",
            "record_source": "QS4-",
            "label": "Cr",
            "qualify_type": "RANGE",
            "qualify_var1": "17.589",
            "qualify_var2": "14.391"
          },
          {
            "record_item": "Mo ",
            "record_source": "QS4-",
            "label": "Mo ",
            "qualify_type": "RANGE",
            "qualify_var1": "1.5037",
            "qualify_var2": "1.2303"
          },
          {
            "record_item": "Ni",
            "record_source": "QS4-",
            "label": "Ni",
            "qualify_type": "RANGE",
            "qualify_var1": "1.0472",
            "qualify_var2": "0.8568"
          },
          {
            "record_item": "Mg",
            "record_source": "QS4-",
            "label": "Mg",
            "length": "250",
            "qualify_type": "NONE",
            "qualify_var1": "0",
            "qualify_var2": "0"
          },
          {
            "record_item": "Fe",
            "record_source": "QS4-",
            "label": "Fe",
            "qualify_type": "RANGE",
            "qualify_var1": "84.007",
            "qualify_var2": "68.733"
          },
          {
            "record_item": "DUREZA",
            "record_source": "CSA",
            "label": "Dureza",
            "qualify_type": "RANGE",
            "qualify_var1": "1000",
            "qualify_var2": "500"
          }
        ]
      }
    ]
  }
}