[
  {
    "fieldname": "AnalysisTimestamp",
    "fieldtype": "instante",
    "format": "texto",
    "range": "Tesxto1"
  },
  {
    "fieldname": "Nome:",
    "fieldtype": "texto",
    "format": "%s",
    "range": "faixa"
  },
  {
    "fieldname": "Amostra:",
    "fieldtype": "texto",
    "format": "%s",
    "range": "faixa"
  },
  {
    "fieldname": "Operador:",
    "fieldtype": "texto",
    "format": "%s",
    "range": "faixa"
  },
  {
    "fieldname": "Obs:",
    "fieldtype": "texto",
    "format": "%s",
    "range": "faixa"
  },
  {
    "fieldname": "Sequência:",
    "fieldtype": "texto",
    "format": "%s",
    "range": "faixa"
  },
  {
    "fieldname": "C",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Si",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Mn",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "P",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "S",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Cr",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Mo",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Ni",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Cu",
    "fieldtype": "valor",
    "format": "texto",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Al",
    "fieldtype": "valor",
    "format": "texto",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "As",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "B",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Bi",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Ce",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Co",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Mg",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Nb",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Pb",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Sb",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Sn",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Ta",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "La",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Ti",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "V",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "W",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Zn",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Zr",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Se",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "N",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Ca",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Te",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Fe",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  }
]