[
  {
    "fieldname": "AnalysisTimestamp",
    "fieldtype": "instante",
    "format": "dd-mm-yyyy - HH:mm:ss",
    "range": "faixa"
  },
  {
    "fieldname": "Nome:",
    "fieldtype": "texto",
    "format": "%s",
    "range": "faixa"
  },
  {
    "fieldname": "Amostra:",
    "fieldtype": "texto",
    "format": "%s",
    "range": "faixa"
  },
  {
    "fieldname": "Operador:",
    "fieldtype": "texto",
    "format": "%s",
    "range": "faixa"
  },
  {
    "fieldname": "Obs:",
    "fieldtype": "texto",
    "format": "%s",
    "range": "faixa"
  },
  {
    "fieldname": "Sequência:",
    "fieldtype": "texto",
    "format": "%s",
    "range": "faixa"
  },
  {
    "fieldname": "C",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Si",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "Mn",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "P",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  },
  {
    "fieldname": "S",
    "fieldtype": "valor",
    "format": "4.2f",
    "range": "0.02:0.035"
  }
]