{
  "uid": 1603078363742866826,
  "created": 1528814662688,
  "title": "Title ?",
  "indextemplate": "TIMESTAMP:Nome:Amostra",
  "header_items": [
    {
      "record_item": "Horario",
      "record_source": "QS4-",
      "value": "28.03.2018 13:32:13",
      "label": "Horario",
      "length": "280",
      "qualify_type": "NONE"
    },
    {
      "record_item": "Nome",
      "record_source": "QS4-",
      "value": "Liga FOFO Nodular- Forno 4",
      "label": "Nome",
      "length": "400",
      "qualify_type": "ACCEPT",
      "qualify_var1": "FOFO"
    },
    {
      "record_item": "Amostra",
      "record_source": "QS4-",
      "value": "1213",
      "label": "Amostra",
      "length": "200",
      "qualify_type": "NONE"
    },
    {
      "record_item": "Operador",
      "record_source": "QS4-",
      "value": "JOSE",
      "label": "Operador",
      "length": "200",
      "qualify_type": "NONE"
    },
    {
      "record_item": "Sequencia",
      "record_source": "QS4-",
      "value": "123456",
      "label": "Sequencia",
      "length": "200",
      "qualify_type": "NONE"
    },
    {
      "record_item": "Obs",
      "record_source": "QS4-",
      "value": "ASDFFGGH",
      "label": "Obs",
      "length": "500",
      "qualify_type": "NONE"
    }
  ],
  "value_items": [
    {
      "record_item": "C",
      "record_source": "QS4-",
      "value": "2.501",
      "label": "C",
      "qualify_type": "RANGE",
      "qualify_var1": "2.7511",
      "qualify_var2": "2.2508999999999997"
    },
    {
      "record_item": "C",
      "record_source": "CSA",
      "label": "C-(CSA)",
      "qualify_type": "RANGE",
      "qualify_var1": "2.7511",
      "qualify_var2": "2.2508999999999997"
    },
    {
      "record_item": "Si",
      "record_source": "QS4-",
      "value": "0.512",
      "label": "Si",
      "qualify_type": "RANGE",
      "qualify_var1": "0.5632",
      "qualify_var2": "0.4608"
    },
    {
      "record_item": "Mn",
      "record_source": "QS4-",
      "value": "0.994",
      "label": "Mn",
      "qualify_type": "RANGE",
      "qualify_var1": "1.0934",
      "qualify_var2": "0.8946"
    },
    {
      "record_item": "P",
      "record_source": "QS4-",
      "value": "0.038",
      "label": "P",
      "qualify_type": "RANGE",
      "qualify_var1": "0.0418",
      "qualify_var2": "0.0342"
    },
    {
      "record_item": "S",
      "record_source": "QS4-",
      "value": "0.019",
      "label": "S",
      "qualify_type": "RANGE",
      "qualify_var1": "0.0209",
      "qualify_var2": "0.0171"
    },
    {
      "record_item": "Cr",
      "record_source": "QS4-",
      "value": "15.99",
      "label": "Cr",
      "qualify_type": "RANGE",
      "qualify_var1": "17.589",
      "qualify_var2": "14.391"
    },
    {
      "record_item": "Mo ",
      "record_source": "QS4-",
      "value": "1.367",
      "label": "Mo ",
      "qualify_type": "RANGE",
      "qualify_var1": "1.5037",
      "qualify_var2": "1.2303"
    },
    {
      "record_item": "Ni",
      "record_source": "QS4-",
      "value": "0.952",
      "label": "Ni",
      "qualify_type": "RANGE",
      "qualify_var1": "1.0472",
      "qualify_var2": "0.8568"
    },
    {
      "record_item": "Cu",
      "record_source": "QS4-",
      "value": "0.071",
      "label": "Cu",
      "qualify_type": "RANGE",
      "qualify_var1": "0.07809999999999999",
      "qualify_var2": "0.0639"
    },
    {
      "record_item": "Al",
      "record_source": "QS4-",
      "value": "0.0091",
      "label": "Al",
      "qualify_type": "RANGE",
      "qualify_var1": "0.01001",
      "qualify_var2": "0.008190000000000001"
    },
    {
      "record_item": "As",
      "record_source": "QS4-",
      "value": "0.0076",
      "label": "As",
      "qualify_type": "RANGE",
      "qualify_var1": "0.00836",
      "qualify_var2": "0.00684"
    },
    {
      "record_item": "Co",
      "record_source": "QS4-",
      "value": "0.121",
      "label": "Co",
      "qualify_type": "RANGE",
      "qualify_var1": "0.1331",
      "qualify_var2": "0.1089"
    },
    {
      "record_item": "Mg",
      "record_source": "QS4-",
      "value": "0",
      "label": "Mg",
      "length": "250",
      "qualify_type": "NONE",
      "qualify_var1": "0",
      "qualify_var2": "0"
    },
    {
      "record_item": "Nb",
      "record_source": "QS4-",
      "value": "0.555",
      "label": "Nb",
      "qualify_type": "RANGE",
      "qualify_var1": "0.6105",
      "qualify_var2": "0.49950000000000006"
    },
    {
      "record_item": "Pb",
      "record_source": "QS4-",
      "value": "0.0015",
      "label": "Pb",
      "qualify_type": "RANGE",
      "qualify_var1": "0.00165",
      "qualify_var2": "0.00135"
    },
    {
      "record_item": "Sb",
      "record_source": "QS4-",
      "value": "0",
      "label": "Sb",
      "length": "250",
      "qualify_type": "NONE",
      "qualify_var1": "0",
      "qualify_var2": "0"
    },
    {
      "record_item": "Sn",
      "record_source": "QS4-",
      "value": "0.0009",
      "label": "Sn",
      "qualify_type": "RANGE",
      "qualify_var1": "9.9E-4",
      "qualify_var2": "8.1E-4"
    },
    {
      "record_item": "Ti",
      "record_source": "QS4-",
      "value": "0.0044",
      "label": "Ti",
      "qualify_type": "RANGE",
      "qualify_var1": "0.0048400000000000006",
      "qualify_var2": "0.00396"
    },
    {
      "record_item": "V",
      "record_source": "QS4-",
      "value": "0.318",
      "label": "V",
      "qualify_type": "RANGE",
      "qualify_var1": "0.3498",
      "qualify_var2": "0.2862"
    },
    {
      "record_item": "W",
      "record_source": "QS4-",
      "value": "0.126",
      "label": "W",
      "qualify_type": "RANGE",
      "qualify_var1": "0.1386",
      "qualify_var2": "0.1134"
    },
    {
      "record_item": "Zn",
      "record_source": "QS4-",
      "value": "0",
      "label": "Zn",
      "length": "250",
      "qualify_type": "NONE",
      "qualify_var1": "0",
      "qualify_var2": "0"
    },
    {
      "record_item": "Zr",
      "record_source": "QS4-",
      "value": "0.0035",
      "label": "Zr",
      "qualify_type": "RANGE",
      "qualify_var1": "0.00385",
      "qualify_var2": "0.00315"
    },
    {
      "record_item": "Sn",
      "record_source": "QS4-",
      "value": "0.0009",
      "label": "Sn",
      "length": "250",
      "qualify_type": "NONE",
      "qualify_var1": "0",
      "qualify_var2": "0"
    },
    {
      "record_item": "N",
      "record_source": "QS4-",
      "value": "0.033",
      "label": "N",
      "qualify_type": "RANGE",
      "qualify_var1": "0.0363",
      "qualify_var2": "0.0297"
    },
    {
      "record_item": "Fe",
      "record_source": "QS4-",
      "value": "76.37",
      "label": "Fe",
      "qualify_type": "RANGE",
      "qualify_var1": "84.007",
      "qualify_var2": "68.733"
    }
  ],
  "alloyfilters": {
    "alloyfilters": [
      [
        {
          "record_item": "C",
          "record_source": "QS4-",
          "value": "2.501",
          "label": "C",
          "qualify_type": "RANGE",
          "qualify_var1": "2.7511",
          "qualify_var2": "2.2508999999999997"
        },
        {
          "record_item": "C",
          "record_source": "CSA",
          "label": "C-(CSA)",
          "qualify_type": "RANGE",
          "qualify_var1": "2.7511",
          "qualify_var2": "2.2508999999999997"
        },
        {
          "record_item": "Si",
          "record_source": "QS4-",
          "value": "0.512",
          "label": "Si",
          "qualify_type": "RANGE",
          "qualify_var1": "0.5632",
          "qualify_var2": "0.4608"
        },
        {
          "record_item": "Mn",
          "record_source": "QS4-",
          "value": "0.994",
          "label": "Mn",
          "qualify_type": "RANGE",
          "qualify_var1": "1.0934",
          "qualify_var2": "0.8946"
        },
        {
          "record_item": "P",
          "record_source": "QS4-",
          "value": "0.038",
          "label": "P",
          "qualify_type": "RANGE",
          "qualify_var1": "0.0418",
          "qualify_var2": "0.0342"
        },
        {
          "record_item": "S",
          "record_source": "QS4-",
          "value": "0.019",
          "label": "S",
          "qualify_type": "RANGE",
          "qualify_var1": "0.0209",
          "qualify_var2": "0.0171"
        },
        {
          "record_item": "Cr",
          "record_source": "QS4-",
          "value": "15.99",
          "label": "Cr",
          "qualify_type": "RANGE",
          "qualify_var1": "17.589",
          "qualify_var2": "14.391"
        },
        {
          "record_item": "Mo ",
          "record_source": "QS4-",
          "value": "1.367",
          "label": "Mo ",
          "qualify_type": "RANGE",
          "qualify_var1": "1.5037",
          "qualify_var2": "1.2303"
        },
        {
          "record_item": "Ni",
          "record_source": "QS4-",
          "value": "0.952",
          "label": "Ni",
          "qualify_type": "RANGE",
          "qualify_var1": "1.0472",
          "qualify_var2": "0.8568"
        },
        {
          "record_item": "Cu",
          "record_source": "QS4-",
          "value": "0.071",
          "label": "Cu",
          "qualify_type": "RANGE",
          "qualify_var1": "0.07809999999999999",
          "qualify_var2": "0.0639"
        },
        {
          "record_item": "Al",
          "record_source": "QS4-",
          "value": "0.0091",
          "label": "Al",
          "qualify_type": "RANGE",
          "qualify_var1": "0.01001",
          "qualify_var2": "0.008190000000000001"
        },
        {
          "record_item": "As",
          "record_source": "QS4-",
          "value": "0.0076",
          "label": "As",
          "qualify_type": "RANGE",
          "qualify_var1": "0.00836",
          "qualify_var2": "0.00684"
        },
        {
          "record_item": "Co",
          "record_source": "QS4-",
          "value": "0.121",
          "label": "Co",
          "qualify_type": "RANGE",
          "qualify_var1": "0.1331",
          "qualify_var2": "0.1089"
        },
        {
          "record_item": "Mg",
          "record_source": "QS4-",
          "value": "0",
          "label": "Mg",
          "length": "250",
          "qualify_type": "NONE",
          "qualify_var1": "0",
          "qualify_var2": "0"
        },
        {
          "record_item": "Nb",
          "record_source": "QS4-",
          "value": "0.555",
          "label": "Nb",
          "qualify_type": "RANGE",
          "qualify_var1": "0.6105",
          "qualify_var2": "0.49950000000000006"
        },
        {
          "record_item": "Pb",
          "record_source": "QS4-",
          "value": "0.0015",
          "label": "Pb",
          "qualify_type": "RANGE",
          "qualify_var1": "0.00165",
          "qualify_var2": "0.00135"
        },
        {
          "record_item": "Sb",
          "record_source": "QS4-",
          "value": "0",
          "label": "Sb",
          "length": "250",
          "qualify_type": "NONE",
          "qualify_var1": "0",
          "qualify_var2": "0"
        },
        {
          "record_item": "Sn",
          "record_source": "QS4-",
          "value": "0.0009",
          "label": "Sn",
          "qualify_type": "RANGE",
          "qualify_var1": "9.9E-4",
          "qualify_var2": "8.1E-4"
        },
        {
          "record_item": "Ti",
          "record_source": "QS4-",
          "value": "0.0044",
          "label": "Ti",
          "qualify_type": "RANGE",
          "qualify_var1": "0.0048400000000000006",
          "qualify_var2": "0.00396"
        },
        {
          "record_item": "V",
          "record_source": "QS4-",
          "value": "0.318",
          "label": "V",
          "qualify_type": "RANGE",
          "qualify_var1": "0.3498",
          "qualify_var2": "0.2862"
        },
        {
          "record_item": "W",
          "record_source": "QS4-",
          "value": "0.126",
          "label": "W",
          "qualify_type": "RANGE",
          "qualify_var1": "0.1386",
          "qualify_var2": "0.1134"
        },
        {
          "record_item": "Zn",
          "record_source": "QS4-",
          "value": "0",
          "label": "Zn",
          "length": "250",
          "qualify_type": "NONE",
          "qualify_var1": "0",
          "qualify_var2": "0"
        },
        {
          "record_item": "Zr",
          "record_source": "QS4-",
          "value": "0.0035",
          "label": "Zr",
          "qualify_type": "RANGE",
          "qualify_var1": "0.00385",
          "qualify_var2": "0.00315"
        },
        {
          "record_item": "Sn",
          "record_source": "QS4-",
          "value": "0.0009",
          "label": "Sn",
          "length": "250",
          "qualify_type": "NONE",
          "qualify_var1": "0",
          "qualify_var2": "0"
        },
        {
          "record_item": "N",
          "record_source": "QS4-",
          "value": "0.033",
          "label": "N",
          "qualify_type": "RANGE",
          "qualify_var1": "0.0363",
          "qualify_var2": "0.0297"
        },
        {
          "record_item": "Fe",
          "record_source": "QS4-",
          "value": "76.37",
          "label": "Fe",
          "qualify_type": "RANGE",
          "qualify_var1": "84.007",
          "qualify_var2": "68.733"
        }
      ]
    ]
  }
}